# 🔴 NUNCA ENVIE ISSO PARA NENHUM LUGAR
_config.js
.env
.env.*
*.log
*.key
*.pem
tokens*
senhas*
credenciais*

# 📦 Coisas geradas automaticamente
node_modules
package-lock.json
yarn.lock
.DS_Store
.cache
dist
build
